USE [System_Library]
GO
ALTER TABLE [dbo].[borrows] DROP CONSTRAINT [FK_borrows_readers]
GO
ALTER TABLE [dbo].[borrows] DROP CONSTRAINT [FK_borrows_employees]
GO
ALTER TABLE [dbo].[borrow_details] DROP CONSTRAINT [FK_borrow_details_borrows]
GO
ALTER TABLE [dbo].[borrow_details] DROP CONSTRAINT [FK_borrow_details_books]
GO
ALTER TABLE [dbo].[books] DROP CONSTRAINT [FK_books_book_titles]
GO
ALTER TABLE [dbo].[book_titles] DROP CONSTRAINT [FK_book_titles_publishers]
GO
ALTER TABLE [dbo].[book_titles] DROP CONSTRAINT [FK_book_titles_categorys]
GO
ALTER TABLE [dbo].[book_titles] DROP CONSTRAINT [FK_book_titles_authors]
GO
/****** Object:  Table [dbo].[readers]    Script Date: 5/23/2022 12:38:07 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[readers]') AND type in (N'U'))
DROP TABLE [dbo].[readers]
GO
/****** Object:  Table [dbo].[publishers]    Script Date: 5/23/2022 12:38:07 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[publishers]') AND type in (N'U'))
DROP TABLE [dbo].[publishers]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 5/23/2022 12:38:07 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[employees]') AND type in (N'U'))
DROP TABLE [dbo].[employees]
GO
/****** Object:  Table [dbo].[categorys]    Script Date: 5/23/2022 12:38:07 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[categorys]') AND type in (N'U'))
DROP TABLE [dbo].[categorys]
GO
/****** Object:  Table [dbo].[borrows]    Script Date: 5/23/2022 12:38:07 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[borrows]') AND type in (N'U'))
DROP TABLE [dbo].[borrows]
GO
/****** Object:  Table [dbo].[borrow_details]    Script Date: 5/23/2022 12:38:07 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[borrow_details]') AND type in (N'U'))
DROP TABLE [dbo].[borrow_details]
GO
/****** Object:  Table [dbo].[books]    Script Date: 5/23/2022 12:38:07 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[books]') AND type in (N'U'))
DROP TABLE [dbo].[books]
GO
/****** Object:  Table [dbo].[book_titles]    Script Date: 5/23/2022 12:38:07 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[book_titles]') AND type in (N'U'))
DROP TABLE [dbo].[book_titles]
GO
/****** Object:  Table [dbo].[authors]    Script Date: 5/23/2022 12:38:07 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[authors]') AND type in (N'U'))
DROP TABLE [dbo].[authors]
GO
USE [master]
GO
/****** Object:  Database [System_Library]    Script Date: 5/23/2022 12:38:07 AM ******/
DROP DATABASE [System_Library]
GO
/****** Object:  Database [System_Library]    Script Date: 5/23/2022 12:38:07 AM ******/
CREATE DATABASE [System_Library]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'System_Library', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.VANMANH\MSSQL\DATA\System_Library.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'System_Library_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.VANMANH\MSSQL\DATA\System_Library_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [System_Library].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [System_Library]
GO
/****** Object:  Table [dbo].[authors]    Script Date: 5/23/2022 12:38:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[authors](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NULL,
	[gender] [bit] NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book_titles]    Script Date: 5/23/2022 12:38:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_titles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NOT NULL,
	[author_id] [int] NULL,
	[category_id] [int] NULL,
	[publisher_id] [int] NULL,
	[description] [nvarchar](max) NULL,
	[publication_date] [date] NULL,
	[number_of_pages] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[books]    Script Date: 5/23/2022 12:38:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[book_title_id] [int] NULL,
	[imported_at] [date] NULL,
	[status] [bit] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[borrow_details]    Script Date: 5/23/2022 12:38:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[borrow_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[borrow_id] [int] NULL,
	[book_id] [int] NULL,
	[borrow_at] [date] NOT NULL,
	[return_at] [date] NULL,
	[book_title] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[borrows]    Script Date: 5/23/2022 12:38:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[borrows](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[creator_id] [int] NULL,
	[creator_name] [nvarchar](50) NULL,
	[reader_id] [int] NULL,
	[reader_name] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categorys]    Script Date: 5/23/2022 12:38:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorys](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 5/23/2022 12:38:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[role] [varchar](50) NOT NULL,
	[first_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](50) NULL,
	[phone] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[date_of_birth] [date] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[publishers]    Script Date: 5/23/2022 12:38:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[publishers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](max) NULL,
	[address] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[readers]    Script Date: 5/23/2022 12:38:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[readers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NULL,
	[gender] [bit] NULL,
	[date_of_birth] [date] NULL,
	[email] [varchar](50) NULL,
	[identity_card_number] [varchar](50) NOT NULL,
	[phone] [varchar](50) NOT NULL,
	[address] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[authors] ON 

INSERT [dbo].[authors] ([id], [first_name], [last_name], [gender], [description], [created_at], [updated_at]) VALUES (2, N'Nhật Ánh', N'Nguyễn', 1, N'nhà văn việt nam', CAST(N'2022-05-20T14:36:56.000' AS DateTime), CAST(N'2022-05-20T14:36:56.000' AS DateTime))
INSERT [dbo].[authors] ([id], [first_name], [last_name], [gender], [description], [created_at], [updated_at]) VALUES (3, N'Văn Mạnh', N'Nguyễn', 1, N'', CAST(N'2022-05-21T22:26:59.000' AS DateTime), CAST(N'2022-05-21T22:26:59.000' AS DateTime))
INSERT [dbo].[authors] ([id], [first_name], [last_name], [gender], [description], [created_at], [updated_at]) VALUES (4, N'Ngọc Quốc', N'Trần', 1, N'', CAST(N'2022-05-21T22:27:12.000' AS DateTime), CAST(N'2022-05-21T22:27:12.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[authors] OFF
GO
SET IDENTITY_INSERT [dbo].[book_titles] ON 

INSERT [dbo].[book_titles] ([id], [title], [author_id], [category_id], [publisher_id], [description], [publication_date], [number_of_pages], [created_at], [updated_at]) VALUES (7, N'L?p trình web', 2, 2, 3, N'sách v? l?p trình', CAST(N'2022-10-10' AS Date), 120, CAST(N'2022-05-17T11:18:39.000' AS DateTime), CAST(N'2022-05-21T22:21:58.000' AS DateTime))
INSERT [dbo].[book_titles] ([id], [title], [author_id], [category_id], [publisher_id], [description], [publication_date], [number_of_pages], [created_at], [updated_at]) VALUES (8, N'Mắt Biếc', 2, 2, 3, N'sách hay', CAST(N'2022-10-10' AS Date), 120, CAST(N'2022-05-17T11:18:39.000' AS DateTime), NULL)
INSERT [dbo].[book_titles] ([id], [title], [author_id], [category_id], [publisher_id], [description], [publication_date], [number_of_pages], [created_at], [updated_at]) VALUES (10, N'Lap trinh PHP', 4, 5, 6, N'abcd ', CAST(N'2001-08-08' AS Date), 90, CAST(N'2022-05-21T22:33:56.000' AS DateTime), CAST(N'2022-05-21T22:33:56.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[book_titles] OFF
GO
SET IDENTITY_INSERT [dbo].[books] ON 

INSERT [dbo].[books] ([id], [book_title_id], [imported_at], [status], [created_at], [updated_at]) VALUES (3, 7, NULL, 1, CAST(N'2022-05-17T11:18:39.000' AS DateTime), NULL)
INSERT [dbo].[books] ([id], [book_title_id], [imported_at], [status], [created_at], [updated_at]) VALUES (4, 8, NULL, 1, CAST(N'2022-05-17T11:18:39.000' AS DateTime), NULL)
INSERT [dbo].[books] ([id], [book_title_id], [imported_at], [status], [created_at], [updated_at]) VALUES (5, 8, NULL, 1, CAST(N'2022-05-17T11:18:39.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[books] OFF
GO
SET IDENTITY_INSERT [dbo].[borrow_details] ON 

INSERT [dbo].[borrow_details] ([id], [borrow_id], [book_id], [borrow_at], [return_at], [book_title]) VALUES (17, 10, 3, CAST(N'2022-05-01' AS Date), CAST(N'2022-05-10' AS Date), N'Lập trình web')
INSERT [dbo].[borrow_details] ([id], [borrow_id], [book_id], [borrow_at], [return_at], [book_title]) VALUES (18, 11, 4, CAST(N'2022-05-21' AS Date), CAST(N'2022-05-21' AS Date), N'Mắt Biếc')
INSERT [dbo].[borrow_details] ([id], [borrow_id], [book_id], [borrow_at], [return_at], [book_title]) VALUES (19, 12, 5, CAST(N'2022-05-21' AS Date), NULL, N'Mắt Biếc')
SET IDENTITY_INSERT [dbo].[borrow_details] OFF
GO
SET IDENTITY_INSERT [dbo].[borrows] ON 

INSERT [dbo].[borrows] ([id], [creator_id], [creator_name], [reader_id], [reader_name], [created_at], [updated_at]) VALUES (10, 1, N'Nguyễn Văn Mạnh', 5, N'Nguyễn Văn Mạnh', CAST(N'2022-05-20T14:38:48.000' AS DateTime), CAST(N'2022-05-20T14:38:48.000' AS DateTime))
INSERT [dbo].[borrows] ([id], [creator_id], [creator_name], [reader_id], [reader_name], [created_at], [updated_at]) VALUES (11, 1, N'Nguyễn Văn Mạnh', 6, N'Nguyễn Văn Mạnh', CAST(N'2022-05-20T18:12:32.000' AS DateTime), CAST(N'2022-05-20T18:12:32.000' AS DateTime))
INSERT [dbo].[borrows] ([id], [creator_id], [creator_name], [reader_id], [reader_name], [created_at], [updated_at]) VALUES (12, 1, N'Nguyễn Văn Mạnh', 6, N'Nguyễn Văn Mạnh', CAST(N'2022-05-20T18:12:38.000' AS DateTime), CAST(N'2022-05-20T18:12:38.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[borrows] OFF
GO
SET IDENTITY_INSERT [dbo].[categorys] ON 

INSERT [dbo].[categorys] ([id], [name], [description], [created_at], [updated_at]) VALUES (2, N'Văn Học', N'sách về văn học', CAST(N'2022-05-20T14:37:55.000' AS DateTime), CAST(N'2022-05-20T14:37:55.000' AS DateTime))
INSERT [dbo].[categorys] ([id], [name], [description], [created_at], [updated_at]) VALUES (3, N'Lập trình', N'', CAST(N'2022-05-21T22:26:16.000' AS DateTime), CAST(N'2022-05-21T22:26:16.000' AS DateTime))
INSERT [dbo].[categorys] ([id], [name], [description], [created_at], [updated_at]) VALUES (4, N'Chính Trị', N'', CAST(N'2022-05-21T22:26:25.000' AS DateTime), CAST(N'2022-05-21T22:26:25.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[categorys] OFF
GO
SET IDENTITY_INSERT [dbo].[employees] ON 

INSERT [dbo].[employees] ([id], [username], [password], [role], [first_name], [last_name], [phone], [email], [address], [date_of_birth], [created_at], [updated_at]) VALUES (1, N'admin', N'018612423418266611211321321585234153233118', N'admin', N'Mạnh', N'Nguyễn Văn', N'0971404372', N'nguyenvanmanh2001it1@gmail.com', N'Phú Vang - Huế - Việt Nam', CAST(N'2001-08-29' AS Date), CAST(N'2022-05-17T00:00:00.000' AS DateTime), CAST(N'2022-05-19T19:09:31.000' AS DateTime))
INSERT [dbo].[employees] ([id], [username], [password], [role], [first_name], [last_name], [phone], [email], [address], [date_of_birth], [created_at], [updated_at]) VALUES (13, N'hivanmanh', N'6722346451261276421132371962111951055592', N'user', N'Mạnh', N'Nguyễn Văn', N'01236000333', N'vanmanh@gmail.com', N'Thừa Thiên Huế', CAST(N'2001-08-29' AS Date), CAST(N'2022-05-19T11:18:39.000' AS DateTime), CAST(N'2022-05-19T19:15:39.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[employees] OFF
GO
SET IDENTITY_INSERT [dbo].[publishers] ON 

INSERT [dbo].[publishers] ([id], [name], [description], [address], [country], [created_at], [updated_at]) VALUES (3, N'Kim Đồng', N'nhà xuất bản kim đồng', N'Hà Nội', N'Việt Nam', CAST(N'2022-05-20T14:38:35.000' AS DateTime), CAST(N'2022-05-20T14:38:35.000' AS DateTime))
INSERT [dbo].[publishers] ([id], [name], [description], [address], [country], [created_at], [updated_at]) VALUES (4, N'Thế Giới', N'', N'Huế', N'VN', CAST(N'2022-05-21T22:25:03.000' AS DateTime), CAST(N'2022-05-21T22:25:03.000' AS DateTime))
INSERT [dbo].[publishers] ([id], [name], [description], [address], [country], [created_at], [updated_at]) VALUES (5, N'Khoa Học', N'', N'HCM', N'VN', CAST(N'2022-05-21T22:25:19.000' AS DateTime), CAST(N'2022-05-21T22:25:19.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[publishers] OFF
GO
SET IDENTITY_INSERT [dbo].[readers] ON 

INSERT [dbo].[readers] ([id], [first_name], [last_name], [gender], [date_of_birth], [email], [identity_card_number], [phone], [address], [created_at], [updated_at]) VALUES (5, N'Mạnh', N'Nguyễn Văn', 1, CAST(N'2001-08-29' AS Date), N'vanmanh@gmail.com', N'192078214', N'0971404372', N'Huế', CAST(N'2022-05-20T14:36:25.000' AS DateTime), CAST(N'2022-05-20T14:36:25.000' AS DateTime))
INSERT [dbo].[readers] ([id], [first_name], [last_name], [gender], [date_of_birth], [email], [identity_card_number], [phone], [address], [created_at], [updated_at]) VALUES (6, N'Mạnh', N'Nguyễn Văn', 1, CAST(N'2001-08-29' AS Date), N'vanmanh@gmail.com', N'192078214', N'0971404372', N'Huế', CAST(N'2022-05-20T15:51:20.000' AS DateTime), CAST(N'2022-05-20T15:51:20.000' AS DateTime))
INSERT [dbo].[readers] ([id], [first_name], [last_name], [gender], [date_of_birth], [email], [identity_card_number], [phone], [address], [created_at], [updated_at]) VALUES (7, N'Mỹ An', N'Nguyễn Thị', 0, CAST(N'2002-11-11' AS Date), N'myan@gmail.com', N'192078222', N'0123456789', N'Hồ Chí Minh', CAST(N'2022-05-21T22:30:19.000' AS DateTime), CAST(N'2022-05-21T22:30:19.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[readers] OFF
GO
ALTER TABLE [dbo].[book_titles]  WITH CHECK ADD  CONSTRAINT [FK_book_titles_authors] FOREIGN KEY([author_id])
REFERENCES [dbo].[authors] ([id])
GO
ALTER TABLE [dbo].[book_titles] CHECK CONSTRAINT [FK_book_titles_authors]
GO
ALTER TABLE [dbo].[book_titles]  WITH CHECK ADD  CONSTRAINT [FK_book_titles_categorys] FOREIGN KEY([category_id])
REFERENCES [dbo].[categorys] ([id])
GO
ALTER TABLE [dbo].[book_titles] CHECK CONSTRAINT [FK_book_titles_categorys]
GO
ALTER TABLE [dbo].[book_titles]  WITH CHECK ADD  CONSTRAINT [FK_book_titles_publishers] FOREIGN KEY([publisher_id])
REFERENCES [dbo].[publishers] ([id])
GO
ALTER TABLE [dbo].[book_titles] CHECK CONSTRAINT [FK_book_titles_publishers]
GO
ALTER TABLE [dbo].[books]  WITH CHECK ADD  CONSTRAINT [FK_books_book_titles] FOREIGN KEY([book_title_id])
REFERENCES [dbo].[book_titles] ([id])
GO
ALTER TABLE [dbo].[books] CHECK CONSTRAINT [FK_books_book_titles]
GO
ALTER TABLE [dbo].[borrow_details]  WITH CHECK ADD  CONSTRAINT [FK_borrow_details_books] FOREIGN KEY([book_id])
REFERENCES [dbo].[books] ([id])
GO
ALTER TABLE [dbo].[borrow_details] CHECK CONSTRAINT [FK_borrow_details_books]
GO
ALTER TABLE [dbo].[borrow_details]  WITH CHECK ADD  CONSTRAINT [FK_borrow_details_borrows] FOREIGN KEY([borrow_id])
REFERENCES [dbo].[borrows] ([id])
GO
ALTER TABLE [dbo].[borrow_details] CHECK CONSTRAINT [FK_borrow_details_borrows]
GO
ALTER TABLE [dbo].[borrows]  WITH CHECK ADD  CONSTRAINT [FK_borrows_employees] FOREIGN KEY([creator_id])
REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[borrows] CHECK CONSTRAINT [FK_borrows_employees]
GO
ALTER TABLE [dbo].[borrows]  WITH CHECK ADD  CONSTRAINT [FK_borrows_readers] FOREIGN KEY([reader_id])
REFERENCES [dbo].[readers] ([id])
GO
ALTER TABLE [dbo].[borrows] CHECK CONSTRAINT [FK_borrows_readers]
GO
USE [master]
GO
